app/__pycache__/
app/ml/.ipynb_checkpoints/
app/ml/data/.ipynb_checkpoints/
app/ml/utils/.ipynb_checkpoints/
app/ml/utils/__pycache__/
app/ml/temp/
app/ml/data/
aws_setting/
aws_infla.drawio
db/data/
db/init/init_input_data.csv
db/init/init_predict_result_data.csv
db/init/init_train_data.csv