app/__pycache__/
app/ml/.ipynb_checkpoints/
app/ml/data/.ipynb_checkpoints/
app/ml/utils/.ipynb_checkpoints/
app/ml/utils/__pycache__/
app/ml/temp/
app/ml/data/
aws_setting/
db/data/
.github/workflows/deploy.yml